{% extends "layout.html" %}

{% block body %}
<div class="container text-center">
    <h1>
        {{ product.name }}
    </h1>

    <hr/>
    <div>
        <h6><a style="color:black" data-toggle="collapse" href="#subcomponents"> <span data-feather="plus"></span> View subcomponents ( {{ subcomponents | length }} ) </a></h6>
        <div class="collapse" id="subcomponents">
            <ul style="list-style: none; padding-left: 0;">
            {% for sub in product.subcomponents %}
                <li>
                    <a href="{{ url_for('get_product', model_id = sub.id) }}">{{sub.name}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr />
</div>


<div class="container">

    <div class="row">
        <div class="col-5">
            <h4> Subcomponent manufacturers </h4>
            <table class="table dtable table-striped table-dark ">
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Subcomponents</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manufacturer in manufacturers %}
                    <tr>
                        <td>
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#collapse-{{ manufacturer.id }}">
                                <span class="text-light">
                                    {{ manufacturer.name }}
                                </span>
                                <span class="text-light" data-feather="chevron-right"></span>
                            </button>
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-7">
            <div class="accordion sticky-top" id="manufAccordion">
                {% for manufacturer in manufacturers %}
                <div class="collapse" data-parent="#manufAccordion" id="collapse-{{ manufacturer.id }}">
                   
                    <h4> Parts availaible by {{ manufacturer.name }} </h4>
                    <table class="table dtable table-striped table-dark ">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th>State</th>
                                <th>Add/Remove subcomponents</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prod in manufacturer.models %}
                            
                            <tr>
                                <td>
                                    <a href="{{ url_for('get_product', model_id = prod.id) }}">{{ prod.name }}</a>
                                </td>
                                <td>
                                    {% if prod.eol %}
                                    <span style="color: red; font-weight: bold;"> No longer produced</span>
                                    {% else %}
                                    <span style="color: green; font-weight: bold;"> In production </span>
                                    {% endif %}
                                </td>
                               
                                <td class="text-center">
                                    {% if not product.check_subcomponent_status(prod) %}
                                    <div>
                                        <button  style="opacity: 0.4;" class="btn  btn-sm badge-light badge-pill disabled">
                                             <i style="color: red;" data-feather="lock"></i>    
                                        </button>
                                    </div>
                                    {% elif prod.id in product.subcomponents|map(attribute="id") %}
                                    <div id="add-{{prod.id}}" style="display: none">
                                        <button id="addRef/{{prod.id}}" onclick="addRef(this.id, {{prod.id}})"
                                            style="opacity: 0.4;" class="btn btn-sm badge-light badge-pill" type="submit"
                                            value="In production">
                                            <i style="color: red;" data-feather="x"></i></button>
                                    </div>
                                    <div id="remove-{{prod.id}}">
                                        <button id="removeRef/{{prod.id}}" onclick="removeRef(this.id, {{prod.id}})"
                                            class="btn btn-sm badge-light badge-pill" type="submit" value="In production">
                                            <i style="color: green;" data-feather="check"></i></button>
                                    </div>
                                    {% else %}
                                    <div id="add-{{prod.id}}" >
                                        <button id="addRef/{{prod.id}}" onclick="addRef(this.id, {{prod.id}})"
                                            style="opacity: 0.4;" class="btn btn-sm badge-light badge-pill" type="submit"
                                            value="In production">
                                            <i style="color: red;" data-feather="x"></i></button>
                                    </div>
                                    <div id="remove-{{prod.id}}" style="display: none">
                                        <button id="removeRef/{{prod.id}}" onclick="removeRef(this.id, {{prod.id}})"
                                            class="btn btn-sm badge-light badge-pill" type="submit" value="In production">
                                            <i style="color: green;" data-feather="check"></i></button>
                                    </div>
                                    {% endif %}
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script async defer type="text/javascript">
    $(document).ready(function () {
        $('.dtable').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25,
            "aaSorting": []
        });
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='productadd.js') }}"></script>
{% endblock %}